@charset "UTF-8";

/* 
    em HTML é id = em CSS '#'
    em HTML é class = em CSS é '.' 
*/
body {
    background-color: rgb(171, 218, 159);
}

h1 {
    color: rgb(11, 71, 11);
}

h1#principal {
    text-align: center;
    background-color: rgb(61, 145, 61);
    color: white;
}

h2 {
    color: darkolivegreen;
}